{% extends 'index.html' %}
{% block title %}Problem Statements list{% endblock title %}
{% block body %}
<div style="background-color:#252423;">
    <div style="color:#252423;padding:10px"></div>
    <div class="container " style="margin:50px;padding:20px;border-left:3px solid #bc2d38;color:white;font-family:Arial Black;">
        <h2>Python:Tuples</h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">Tuples</p>
        <a class="ui button" href="problem_statement" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div>
    <div class="container" style="margin:50px;padding:20px;border-right:3px solid #bc2d38;text-align:right;color:white;font-family:Arial Black;">
        <h2>Print Function</h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">Function</p>
        <a class="ui  button" href="problem_statement2" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div>
    <div class="container" style="margin:50px;padding:20px;border-left:3px solid #bc2d38;color:white;font-family:Arial Black;">
        <h2>Python:Division</h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">Basic</p>
        <a class="ui  button" href="problem_statement3" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div>
    <div onmouseover="this.style.transition='1s';" onmouseout="this.style.transition='1s'" class="container" style="margin:50px;padding:20px;border-right:3px solid #bc2d38;text-align:right;;color:white;font-family:Arial Black;">
        <h2>String Split and Join </h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">String</p>
        <a class="ui  button" href="problem_statement4" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div>
    <div class="container" style="margin:50px;padding:20px;border-left:3px solid #bc2d38;color:white;font-family:Arial Black;">
        <h2>Write a function</h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">Function</p>
        <a class="ui  button" href="problem_statement5" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div>
    <div class="container" style="margin:50px;padding:20px;border-right:3px solid #bc2d38;text-align:right;color:white;font-family:Arial Black;">
        <h2>Python IF-else</h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">Basic</p>
        <a class="ui  button" href="problem_statement6" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div>
    <div class="container" style="margin:50px;padding:20px;border-left:3px solid #bc2d38;color:white;font-family:Arial Black;">
        <h2>Python:Loops</h2>
        <p style="color:#585552">Easy</p>
        <p style="color:#585552">Basic</p>
        <a class="ui  button" href="problem_statement7" style="background-color:#bc2d38;color:white"><i class="code icon" style="color:white"></i>Try Now</a>
    </div><br/>
</div>
{% endblock body %}