{% extends 'index.html' %}
{% block title %}Dcode Editor{% endblock title %}
{% block style %}
.reg-block{
    background-color:#252423;
    padding:70px;
}
.form-block{
    width:30%;
    padding:30px;
}
.header-input {
    background:transparent;
    border:none;
    border-bottom: 1px solid #eb0b30;
    width: 100%;
    outline:none;
    padding:5px;
    border-radius:10px;
    color:rgb(241, 231, 231);
}
label{
    color:rgb(172, 164, 164);
    font-family:Arial Black;
}
.submit-btn{
    background-color:#bc2d38;
    border-radius: 10px;
    padding:10px;
    border:none;
    outline:none;
    color:white;
}
.error-msg{
    color:#bc2d38;
    font-size:15px;
}
{% endblock style %}
{% block body %}
<div class="text-center reg-block">
    <div class="container form-block">
    <form action="register" method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input class="header-input" type="text" name="username" placeholder="Username"/>
        <h3 class="error-msg">{{username_exist}}</h3><br/>
        <label>Email</label>
        <input type="email" class="header-input" name="email" placeholder="Email"><br/>
        <h3 class="error-msg">{{email_exist}}</h3><br/>
        <label>Password</label>
        <input type="password"  class="header-input" name="password" placeholder="Password"><br/>
        <br/><button type="submit" class="submit-btn">Submit</button>
    </form>
    </div>
</div>

{% endblock body %}